<!DOCTYPE html>
<html>
<head>
  <title>Opal Browser - RSpec Runner</title>
</head>
<body>
  <script>
    window.onerror = function(msg, url, line) {
      var error = document.createElement("div");
          error.setAttribute("id", "rspec-error");
          error.appendChild(document.createTextNode(msg));

      document.body.appendChild(error);
    }
  </script>

  <%= javascript_include_tag 'browser_runner' %>
</body>
</html>

